// Glue header: deepnav subcomponent

@use '../../accessibility/mixins' as accessibility-mixins;
@use '../../accessibility/variables' as accessibility-variables;
@use '../../breakpoints/mixins' as breakpoints;
@use '../../colors/variables' as colors;
@use '../../elevation/mixins' as elevation;
@use '../mixins';
@use '../variables';

// User-customized variable for breakpoint
$breakpoint-nav: variables.$breakpoint-default !default;

.glue-header__deep-nav {
  // Link tier alignment in the drawer.
  .glue-header__list {
    // 3rd Tier links
    .glue-header__link {
      padding-inline-start: variables.$drawer-link-double-nested-padding-left;

      @include breakpoints.bp($breakpoint-nav) {
        padding-inline: variables.$link-bar-links-padding;
      }
    }

    // 4th Tier links
    .glue-header__list .glue-header__link {
      padding-inline-start: variables.$drawer-link-triple-nested-padding-left;

      @include breakpoints.bp($breakpoint-nav) {
        padding-inline: variables.$link-bar-links-padding;
      }
    }
  }

  .glue-header__list {
    @include breakpoints.bp($breakpoint-nav) {
      @include elevation.set-level(1);

      align-self: stretch;
      align-items: stretch;
      background: colors.$white;
      border-radius: variables.$deep-nav-dialog-border-radius;
      display: flex;
      flex: 1 0 auto;
      flex-flow: column nowrap;
      height: auto;
      inset-inline-start: 0;
      margin-block-start: -(variables.$deep-nav-dialog-top-offset);
      margin-inline-start: 0;
      max-width: variables.$deep-nav-dialog-max-width;
      min-width: variables.$deep-nav-dialog-min-width;
      opacity: 0;
      outline: 1px solid transparent;
      padding-block: variables.$deep-nav-dialog-vert-margin;
      position: absolute;
      top: 90%;
      transition: opacity variables.$deep-nav-animation-duration ease-in;
      visibility: hidden;
      width: max-content;
      z-index: 1000;

      // Makes the nested dialogs visible.
      &.glue-header__menu--open {
        opacity: 1;
        visibility: visible;
      }

      .glue-header__list {
        inset-inline-start: 100%;
        margin-block-start: -(variables.$deep-nav-dialog-vert-margin);
        margin-inline-start: -(variables.$deep-nav-dialog-right-margin);
        top: 0;
      }
    }

    .glue-header__item {
      list-style: none;
      position: relative;
      width: 100%;

      @include breakpoints.bp($breakpoint-nav) {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        min-width: max-content;
        padding-block: variables.$deep-nav-item-vert-margin;
      }

      &:first-child {
        margin-inline-start: 0;
      }
    }

    .glue-header__link {
      max-height: none;

      @include breakpoints.bp($breakpoint-nav) {
        border: none;
        border-end-end-radius: variables.$border-radius-active-mobile;
        border-inline-start: variables.$selected-item-border-width solid
          transparent;
        border-start-end-radius: variables.$border-radius-active-mobile;
        display: flex;
        flex-direction: row;
        flex: 1 0 auto;
        justify-content: space-between;
        margin-block: variables.$deep-nav-item-vert-margin;
        margin-inline: 0 variables.$deep-nav-dialog-right-margin;
        max-width: variables.$deep-nav-dialog-max-width -
          variables.$deep-nav-dialog-right-margin;
        padding-block: variables.$deep-nav-item-vert-padding;
        padding-inline: variables.$deep-nav-dialog-left-padding
          variables.$deep-nav-dialog-right-padding;
        white-space: normal;

        .glue-icon {
          margin-inline-start: variables.$deep-nav-dialog-right-margin;
          transform: rotate(0deg);

          [dir='rtl'] &,
          :host([dir='rtl']) & {
            transform: rotate(180deg);
          }
        }
        @include accessibility-mixins.hcm-mq {
          border-inline-start: 0;
        }
      }

      @include accessibility-mixins.hcm-mq {
        color: accessibility-variables.$hcm-color-link-text;
      }

      &:hover {
        background-color: variables.$link-bar-bg-focus;
      }

      &::after {
        display: none;
      }
    }

    .glue-header--is-active > .glue-header__link {
      @include breakpoints.bp($breakpoint-nav) {
        background-color: variables.$link-bar-bg-focus;
        border-color: transparent;
        border-end-end-radius: 0;
        border-start-end-radius: 0;
        cursor: default;
        margin-inline-end: 0;
      }

      @include accessibility-mixins.hcm-mq {
        font-weight: 700;
        border-inline-start: variables.$selected-item-border-width solid
          transparent;
        border-radius: 0;
      }
    }

    .glue-header__item--active > .glue-header__link {
      background-color: colors.$grey-50;
      border-color: colors.$blue-500;

      @include accessibility-mixins.hcm-mq {
        font-weight: 700;
        border-inline-start: variables.$selected-item-border-width solid
          transparent;
        border-radius: 0;
      }
    }
  }

  .glue-icon {
    display: none;
    flex: 0 0 auto;
    margin-inline-start: 3px;

    @include breakpoints.bp($breakpoint-nav) {
      display: inline-block;
    }
  }
}

// When the header in in single-tier mode and using deep-nav, the link
// padding is offset by one level less than it is in double-tier mode
// which is the default mode for deep-nav.
.glue-header--single .glue-header__deep-nav {
  // 2nd Tier links
  .glue-header__list {
    .glue-header__link {
      padding-inline-start: variables.$drawer-link-nested-padding-left;

      @include breakpoints.bp($breakpoint-nav) {
        padding-inline: variables.$link-bar-links-padding;
      }
    }

    // 3rd Tier links
    .glue-header__list {
      .glue-header__link {
        padding-inline-start: variables.$drawer-link-double-nested-padding-left;

        @include breakpoints.bp($breakpoint-nav) {
          padding-inline: variables.$link-bar-links-padding;
        }
      }

      // 4th Tier links
      .glue-header__list .glue-header__link {
        padding-inline-start: variables.$drawer-link-triple-nested-padding-left;

        @include breakpoints.bp($breakpoint-nav) {
          padding-inline: variables.$link-bar-links-padding;
        }
      }
    }
  }
}

