// Glue header mixins

@use '../breakpoints/mixins' as breakpoints;
@use 'variables';

// User-customized variable for breakpoint
$breakpoint-nav: variables.$breakpoint-default !default;

// This is will add the pseudo element needed to add the border bottom
@mixin header-border-bottom(
  $top: false,
  $display: false,
  $position: false,
  $before: false,
  $left: false,
  $transparent: false
) {
  &:#{if($before, before, after)} {
    border-bottom: variables.$border-height solid variables.$border;
    content: ' ';
    display: if($display, $display, block);
    height: 0;
    left: if($left, $left, 0);
    position: if($position, $position, absolute);
    top: if($top, $top, variables.$bar-height - variables.$border-height);
    width: 100%;
  }
}

// Dividers for the drawer
@mixin drawer-divider($top: false) {
  &::before {
    background-color: variables.$border;
    content: ' ';
    height: variables.$border-height;
    left: variables.$drawer-supplemental-divider-padding;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: calc(100% - (variables.$drawer-supplemental-divider-padding * 2));
  }
}

// All the pseudo selectors for all header links
@mixin button-states {
  transition: background-color 0.2s, box-shadow 0.2s, color 0.2s;

  &:visited {
    color: variables.$link-bar-inactive;
  }

  &:focus {
    background-color: variables.$link-bar-bg-focus;
    color: variables.$link-bar-focus;

    @include breakpoints.bp($breakpoint-nav) {
      background-color: variables.$link-bar-bg-focus;
      border-radius: variables.$border-radius-active;
      color: variables.$link-bar-focus;
      z-index: variables.$z-index-link-bar-link-active;
    }
  }

  &:hover {
    background-color: variables.$link-bar-bg-hover;
    color: variables.$link-bar-hover;
    outline: none;

    .glue-header--transparent:not(.glue-header--active) & {
      background-color: transparent;
    }
    @include breakpoints.bp($breakpoint-nav) {
      border-radius: variables.$border-radius-active;
    }
  }

  &:active {
    background-color: variables.$link-bar-bg-active;
    box-shadow: 0 0 0 variables.$link-item-border-width transparent;
    color: variables.$link-bar-active;

    @include breakpoints.bp($breakpoint-nav) {
      border-radius: variables.$border-radius-active;
    }
  }
}
